:root {
  --darker-blue: #053744;
  --blue: #0b86b6;
  --light-blue: #36d5d8;
  --white: #ffffff;
  --purple: #9158b1;
  --yellow: #e5ac42;
  --dark: #241f23;

  /* Intentions */
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
}

.blue {
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
}

.purple {
  --background: var(--dark);
  --primary: var(--purple);
  --secondary: var(--yellow);
}

body {
  background-color: var(--background);
  color: white
}

.title{
  text-align: center;
}

.container{
  margin: 0 auto;
  margin-top: 100px;
  /*background-color: white;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 50%;
}

.btn{
  background-color: var(--primary);
  color: white;
  border-radius: 25px;
  border: 5px solid var(--secondary);
  margin: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

.trivia{
  margin: 0 auto;
  /*background-color: black;*/
  width: 80%;
  height: 80%;
  align-items: center;
}

.question{
  border-radius: 25px;
  border: 10px solid var(--secondary);
  height: 50%;
  width: 90%;
  background-color: var(--primary);
}