:root {
  --darker-blue: #053744;
  --blue: #0b86b6;
  --light-blue: #36d5d8;
  --white: #ffffff;
  --purple: #9158b1;
  --yellow: #e5ac42;
  --dark: #241f23;

  /* Intentions */
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
}

.blue {
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
}

.purple {
  --background: var(--dark);
  --primary: var(--purple);
  --secondary: var(--yellow);
}

body {
  background-color: var(--background);
  color: white
}

.title{
  text-align: center;
}