:root {
  --darker-blue: #053744;
  --blue: #0b86b6;
  --light-blue: #36d5d8;
  --white: #ffffff;
  --purple: #9158b1;
  --yellow: #e5ac42;
  --dark: #241f23;
  --red: #ff0000;
  --green: #00ff0d;

  /* Intentions */
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
  --right: var(--green);
  --wrong: var(--red);
}

.blue {
  --background: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--darker-blue);
}

.purple {
  --background: var(--dark);
  --primary: var(--purple);
  --secondary: var(--yellow);
}

body {
  background-color: var(--background);
  color: white;
  font-weight: bold;
}

.title{
  text-align: center;
}

.container{
  margin: 0 auto;
  margin-top: 100px;
  /*background-color: white;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 50%;
}

.btn{
  font-weight: bold;
  background-color: var(--primary);
  color: white;
  border-radius: 25px;
  border: 5px solid var(--secondary);
  margin: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

.question{
  margin: 0 auto;
  border-radius: 25px;
  border: 10px solid var(--secondary);
  height: 30%;
  width: 60%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.next{
  background-color: var(--primary);
  border-radius: 25px;
  border: 10px solid var(--secondary);
  width: 25%;
  height: 10%;
  display: block;
  margin: 10 auto;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.choice{
  background-color: var(--primary);
  border-radius: 25px;
  border: 10px solid var(--secondary);
  width: 35%;
  height: 40%;
  margin-right: 5%;
  margin-left: 5%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: large;
}

.choices{
  margin: 0 auto;
  height: 50%;
  width: 60%;
  /*background-color: white;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}