:root {
  --dark-green: #059c00;
  --light-green: #07c500;
  --darker-green: #0b8000;
  --white: #ffffff;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --darker-red: #8d0000;
  --black: #000000;

  /* Intentions */
  --background: var(--darker-green);
  --primary: var(--light-green);
  --secondary: var(--dark-green);
}

.green {
  --background: var(--darker-green);
  --primary: var(--light-green);
  --secondary: var(--dark-green);
}

.red {
  --background: var(--darker-red);
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

body {
  background-color: var(--background);
  color: white
}

.title{
  text-align: center;
}